{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?query=Super%20Troopers",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "<MOVIEDB_API_KEY>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "c6e0e3c59492590ce26bbf9e4df55c34"
          ],
          "X-Memc-Age": [
            "24006"
          ],
          "X-Memc-Expires": [
            "4395"
          ],
          "Etag": [
            "W/\"7d88dd18b69aeea788094e78f80e15ea\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/syJIWYB1L14wdIiiH9Q7pft4ga5.jpg\",\"genre_ids\":[35,80,9648],\"id\":39939,\"original_language\":\"en\",\"original_title\":\"Super Troopers\",\"overview\":\"Five bored, occasionally high and always ineffective Vermont state troopers must prove their worth to the governor or lose their jobs. After stumbling on a drug ring, they plan to make a bust, but a rival police force is out to steal the glory.\",\"popularity\":28.905,\"poster_path\":\"/yJyxPItcLNVfYr7idOphQTmQ9hK.jpg\",\"release_date\":\"2001-02-15\",\"title\":\"Super Troopers\",\"video\":false,\"vote_average\":6.571,\"vote_count\":1042},{\"adult\":false,\"backdrop_path\":\"/zwWc8r2EFdx6Ws01lfiDNn6YnkE.jpg\",\"genre_ids\":[35,80,9648],\"id\":50022,\"original_language\":\"en\",\"original_title\":\"Super Troopers 2\",\"overview\":\"When an international border dispute arises between the U.S. and Canada, the Super Troopers- Mac, Thorny, Foster, Rabbit and Farva, are called in to set up a new Highway Patrol station in the disputed area.\",\"popularity\":55.698,\"poster_path\":\"/57SZgdugVClIy22rfnANeBJ5KsN.jpg\",\"release_date\":\"2018-04-19\",\"title\":\"Super Troopers 2\",\"video\":false,\"vote_average\":5.859,\"vote_count\":443},{\"adult\":false,\"backdrop_path\":null,\"genre_ids\":[35,28],\"id\":675871,\"original_language\":\"en\",\"original_title\":\"Super Troopers 3: Winter Soldiers\",\"overview\":\"The third installment in the Super Troopers franchise.\",\"popularity\":1.235,\"poster_path\":null,\"release_date\":\"\",\"title\":\"Super Troopers 3: Winter Soldiers\",\"video\":false,\"vote_average\":0.0,\"vote_count\":0}],\"total_pages\":1,\"total_results\":3}"
        }
      },
      "recorded_at": "Fri, 10 May 2024 18:07:23 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}